/* put this in your default CSS */
.course-accordion-icon { /* prefix with element classname, i.e. .element-classname .some-class-to-wrap-the-icon */
    display: flex;
    font-size: 24px;
}

.course-accordion-icon > svg { /* also, prefix with element classname */
    font-size: inherit;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.breakdance .bde-educator-upcoming-courses {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.breakdance .upcoming-course-card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  :is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    a, a:hover {
      color: var(--bde-body-text-color);
    }
  }

  :where(span) {
    display: inline-block;
    flex-grow: 1;
  }

  &.expanded .course-accordion-icon {
	transform: rotate(180deg);
  }

  :where(.course-meta-icon) {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: baseline;
    font-size: 0.9em;
    color: var(--bde-body-text-color);
    p {
      margin: 0;
    }
    svg {
      position: relative;
      top: 3px;
    }
      > p:first-of-type {
      margin-block-start: 0;
    }
    > p:last-of-type {
      margin-block-end: 0;
    }
  }

  :where(.course-location) {
    flex-wrap: nowrap;
  }

  :where(.course-availability) :where(span) {
    color: var(--bde-palette-color-1-64fa163a-9501-4506-956e-d968c3feeb96);
  }

  :is(.book-now-button) {
    --bde-button-custom-text-color: white;
    --bde-button-custom-background-color: var(--bde-body-text-color);
    --bde-button-custom-border-color: var(--bde-primary-color);
    --bde-button-custom-text-color-hover: white;
    --bde-button-custom-background-color-hover:var(--bde-body-text-color);
    --bde-button-custom-border-color-hover: var(--bde-body-text-color);
    --bde-button-border-radius: 9999em;
    --bde-button-border-width: 0px;
    --bde-button-font-weight: 300;
    margin-block-start: .5rem;
  }

  .course-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    .course-type {
      border: 1px solid var(--bde-body-text-color);
      padding: 0.5em 0.5em;
      border-radius: 5px;
      font-size: 0.85em;
      max-width: fit-content;
      gap: 0.5rem;
      display: flex;
      align-items: center;
      > img {
        max-height: 1.2em;
        width: 1.4em;
      }
    }
  }

  .course-meta {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    .breakdance-icon-atom {
      width: 1.2rem;
      flex-shrink: 0;
      justify-content: center;
    }
  }

  .course-excerpt {
    margin: 0;
  }

  .course-reveal-content {
	overflow: hidden;
	transition: max-height 0.3s ease, opacity 0.3s ease;
		
	&.collapsed {
		opacity: 0;
		max-height: 0 !important;
	}
		
	.course-excerpt {
		margin: 0 0 1rem 0;
		font-size: 0.95rem;
		line-height: 1.6;
	}
		
  }
}

